@import "tailwindcss";

:root {
  --kendo-color-primary: #172e50;
  --kendo-color-primary-rgb: 23, 46, 80;
  --kendo-color-primary-contrast: #ffffff;
  --kendo-color-primary-hover: #203656;
  --kendo-color-primary-active: #14263b;
  --kendo-color-primary-border: #172e50;

  --kendo-color-secondary: #64748b;
  --kendo-color-secondary-contrast: #ffffff;
}

input {
  @apply h-9;
}
.k-tabstrip .k-active {
  @apply bg-none border-none;
}

.k-tabstrip .k-active .k-link {
  /* @apply border-b border-2; */
  border-bottom: 3px solid #172e50;
}
